<h1>Transaction Details</h1>

<div>
  <button mat-raised-button (click)="addTransaction()" color="primary"> Assignment Complete Check</button>
  
<br>
<br>
  <h4>Available Transaction</h4>
   <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="transactionId">
      <mat-header-cell *matHeaderCellDef> TransactionId </mat-header-cell>
      <mat-cell *matCellDef="let TransactionDetail"> {{TransactionDetail.transactionId}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="assignmentId">
      <mat-header-cell *matHeaderCellDef> AssignmentId </mat-header-cell>
      <mat-cell *matCellDef="let TransactionDetail"> {{TransactionDetail.assignmentId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="workHours">
      <mat-header-cell *matHeaderCellDef> WorkHours </mat-header-cell>
      <mat-cell *matCellDef="let TransactionDetail"> {{TransactionDetail.workHours}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="payPerHour">
      <mat-header-cell *matHeaderCellDef> PayPerHour </mat-header-cell>
      <mat-cell *matCellDef="let TransactionDetail"> {{TransactionDetail.payPerHour}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
      <mat-cell *matCellDef="let TransactionDetail"> {{TransactionDetail.amount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="invoiceId">
      <mat-header-cell *matHeaderCellDef> InvoiceId </mat-header-cell>
      <mat-cell *matCellDef="let TransactionDetail"> {{TransactionDetail.invoiceId}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow($event, row)"
    [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}" (mouseover)="row.hovered = true"
    (mouseout)="row.hovered = false">

    </mat-row>

  </mat-table>
  <span *ngIf="userMessage != ''" style="color: red;font-size: medium;font-weight: bold;"> {{userMessage}}</span>
</div>