<h1>Job Details</h1>

<div>
  <button mat-raised-button (click)="addJob()" color="primary"> Add Job</button>
  <button mat-raised-button (click)="editJob()" color="warn" class="ml-3">Edit Job</button>
<br>
<br>
  <h4>Available Job</h4>
   <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="jobId">
      <mat-header-cell *matHeaderCellDef> JobId </mat-header-cell>
      <mat-cell *matCellDef="let JobDetail"> {{JobDetail.jobId}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="jobTitle">
      <mat-header-cell *matHeaderCellDef> Job Title </mat-header-cell>
      <mat-cell *matCellDef="let JobDetail"> {{JobDetail.jobTitle}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="customerId">
      <mat-header-cell *matHeaderCellDef> CustomerId </mat-header-cell>
      <mat-cell *matCellDef="let JobDetail"> {{JobDetail.customerId}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="payPerHour">
      <mat-header-cell *matHeaderCellDef> PayPerHour </mat-header-cell>
      <mat-cell *matCellDef="let JobDetail"> {{JobDetail.payPerHour}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow($event, row)"
    [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}" (mouseover)="row.hovered = true"
    (mouseout)="row.hovered = false">

    </mat-row>

  </mat-table>
  <span *ngIf="userMessage != ''" style="color: red;font-size: medium;font-weight: bold;"> {{userMessage}}</span>
