<h1 mat-dialog-title>{{action}} Job</h1>

<div mat-dialog-content>
    <form [formGroup]='jobForm'>

      <mat-form-field  class="full-width">
        <input matInput type="text" placeholder="jobTitle" formControlName='jobTitle' >
    </mat-form-field>
     
        <mat-form-field class="full-width">
            <mat-label>Customer</mat-label>
            <mat-select formControlName="customerId">
                <mat-option *ngFor="let c of customers" [value]="c.value">
                {{c.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field  class="full-width">
          <input matInput type="number" placeholder="payPerHour" formControlName='payPerHour' >
      </mat-form-field>

      
    </form>
   
</div>

<div mat-dialog-actions>
    <button mat-button (click)='cancelClick()'>Cancel</button>
    <button mat-button (click)='submitForm()' [disabled]='!jobForm.valid'>{{action}}</button>
</div>
