<h1>Invoice Details</h1>

<div>
  <button mat-raised-button (click)="addInvoice()" color="primary"> Add Invoice</button>
  
<br>
<br>
  <h4>Available Invoice</h4>
  
   <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="invoiceId">
      <mat-header-cell *matHeaderCellDef> InvoiceId </mat-header-cell>
      <mat-cell *matCellDef="let InvoiceDetail"> {{InvoiceDetail.invoiceId}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="customerId">
      <mat-header-cell *matHeaderCellDef> CustomerId </mat-header-cell>
      <mat-cell *matCellDef="let InvoiceDetail"> {{InvoiceDetail.customerId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="employeeId">
      <mat-header-cell *matHeaderCellDef> EmployeeId </mat-header-cell>
      <mat-cell *matCellDef="let InvoiceDetail"> {{InvoiceDetail.employeeId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="transactionId">
      <mat-header-cell *matHeaderCellDef> TransactionId </mat-header-cell>
      <mat-cell *matCellDef="let InvoiceDetail"> {{InvoiceDetail.transactionId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
      <mat-cell *matCellDef="let InvoiceDetail"> {{InvoiceDetail.amount}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow($event, row)"
    [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}" (mouseover)="row.hovered = true"
    (mouseout)="row.hovered = false">

    </mat-row>

  </mat-table>
  <span *ngIf="userMessage != ''" style="color: red;font-size: medium;font-weight: bold;"> {{userMessage}}</span>
</div>