<h1 mat-dialog-title>{{action}} Transaction</h1>

<div mat-dialog-content>
    <form [formGroup]='transactionForm'>

      <mat-form-field  class="full-width">
        <input matInput type="number" placeholder="workHours*" formControlName='workHours' >
    </mat-form-field>
     
        <mat-form-field class="full-width">
            <mat-label>AssignmentId</mat-label>
            <mat-select formControlName="assignmentId">
                <mat-option *ngFor="let c of assignments" [value]="c.value">
                {{c.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field  class="full-width">
          <input matInput type="number" placeholder="payPerHour*" formControlName='payPerHour' >
      </mat-form-field>

      
    </form>
   
</div>

<div mat-dialog-actions>
    <button mat-button (click)='cancelClick()'>Cancel</button>
    <button mat-button (click)='submitForm()' [disabled]='!transactionForm.valid'>{{action}}</button>
</div>